<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Test Automation - Actitime">


<listeners>
		<listener class-name="com.actitime.qa.extentreportlistener.ExtentReporterNG" />
	</listeners>

   <test name = "Test Automation - Actitime">
      <classes>
         <class name = "com.actitime.qa.testcases.LoginPageTest" />
         <class name = "com.actitime.qa.testcases.HomePageTest" />
         <class name = "com.actitime.qa.testcases.ViewEmployeeProfileTest" />
         <class name = "com.actitime.qa.testcases.ReviewAttendanceTest" />
         <class name = "com.actitime.qa.testcases.ReviewLeavesTest" />
         <class name = "com.actitime.qa.testcases.ApproveRejectTimeSheetTest" />
      </classes>
   </test>


</suite>